.content {
    max-width:900px;
    margin:0px auto;
}

body {
    background-color: #E4E7EC;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header {
    padding: 3rem;
    background-color: #13326B;
    filter: drop-shadow(2px 4px 6px black);
    margin-bottom: 4rem;
}

.playernames-input {
    padding: 3rem;
    text-align: center;
    border-radius: 1rem;
    background-color: #EF1F2C;
    margin-top: 5.5rem;
    
}

input {
    padding:0.8rem;
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1rem;
    text-align: center;
    margin-top: 0.5rem;
}

.playernames-display {
    padding: 2rem;
    text-align: center;
}

.team-names {
    padding: 0px 50px 50px 50px;
    text-align: center;
}

.team-list {
    line-height: 3rem;
}

.teamsdisplay {
    padding: 15px 50px 15px 50px;
    text-align: center;
    border-radius: 1rem;
    background-color: #f2f2f2;
    /* margin-top: 5.5rem; */
}

.namesdisplay {
    padding: 1rem;
    margin-top: 1rem;
}

.main-footer {
    padding: 1rem;
    background-color: #13326B;
}