.content {
    max-width:900px;
    margin:0px auto;
}

body {
    background-color: white;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* filter: drop-shadow(2px 4px 6px black);  */
}

.main-header {
    padding: 50px;
    /* background-color: rgb(34, 86, 96); */
    background-color: green;
    filter: drop-shadow(2px 4px 6px black);
    margin-bottom: 4rem;
}

.playernames-input {
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 5.5rem;
    
}

input {
    padding:10px;
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    margin-top: 8px;
}

.playernames-display {
    padding: 50px;
    text-align: center;
}

.team-names {
    padding: 0px 50px 50px 50px;
    text-align: center;
}

.team-list {
    line-height: 3rem;
}

.teamsdisplay {
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    /* margin-top: 5.5rem; */
}

.name-display {
    padding: 10px;
    background-color: green;
    margin-top: 2rem;
}

.main-footer {
    padding: 15px;
    background-color: green;
}