.content {
    max-width:900px;
    margin:0px auto;
}

body {
    background-color: white;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* filter: drop-shadow(2px 4px 6px black);  */
}

.main-header {
    padding: 50px;
    /* background-color: rgb(34, 86, 96); */
    background-color: green;
    /* filter: drop-shadow(2px 4px 6px black); */
    margin-bottom: 4rem;
}

.playernames-input {
    padding: 50px;
}

.playernames-display {
    padding: 50px;
}

.team-names {
    padding: 50px;
}

.main-footer {
    padding: 30px;
    background-color: grey;
}