@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */

    .page-heading {
        font-family: "FasterOne","Arial", "Sans-Serif";
        font-size: 3rem;
        color: white;
        text-align: center;
    }

    .header-image {
        max-width: 8rem;
        position: relative;
        float: right;
    }

    ::placeholder {
        font-size: 0.8rem;
        font-style: italic;
        color: red;
    }


  }


  @media only screen and (max-width: 375px) {
    

    ::placeholder {
        font-size: 0.6rem;
        font-style: italic;
        color: red;
    }

    .your-teams {
        font-family: "Nunito-Regular","Arial", "Sans-Serif";
        margin-bottom: 10px;
        font-size: 1rem;
    }

    .team-list {
        font-family: "Nunito-Light","Arial", "Sans-Serif";
        font-size: 1rem;
    }

  }