@font-face {
    font-family:"PermanentMarker";
    font-weight:normal;
    src: url("../fonts/Permanent_Marker/PermanentMarker-Regular.ttf") format('truetype')
}

@font-face {
    font-family: "FasterOne";
    font-weight: normal;
    src: url("../fonts/Faster_One/FasterOne-Regular.ttf") format('truetype')
}

@font-face {
    font-family:"Nunito-Light";
    font-weight:normal;
    src: url("../fonts/Nunito/Nunito-Light.ttf") format('truetype')
}

@font-face {
    font-family:"Nunito-Regular";
    font-weight:normal;
    src: url("../fonts/Nunito/Nunito-Regular.ttf") format('truetype')
}

@font-face{
    font-family:"AnotherHand";
    font-weight:normal;
    src: url("../fonts/Just_Another_Hand/JustAnotherHand-Regular.ttf") format('truetype')
}

.page-heading {
    font-family: "FasterOne","Arial", "Sans-Serif";
    font-size: 6rem;
    color: white;
    text-align: center;
}

.entername-text {
    font-family: "Nunito-Regular","Arial", "Sans-Serif";
    font-size: 2rem;
}

button {
    font-family: "Nunito-Regular","Arial", "Sans-Serif";
    color: white;
    font-size: 1.5rem;
}

.footer-text {
    font-family: "AnotherHand","Arial", "Sans-Serif";
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.list-group {
    font-family: "Nunito-Regular","Arial", "Sans-Serif";
    line-height: 3rem;
}

.your-teams {
    font-family: "Nunito-Regular","Arial", "Sans-Serif";
    margin-bottom: 1rem;
    font-weight: bold;
}

.team-list {
    font-family: "Nunito-Light","Arial", "Sans-Serif";
    /* text-transform: uppercase; */
}

input {
    font-size: 2rem;
}

::placeholder {
    font-size: 1rem;
    font-style: italic;
    color: red;
}